@import "header.css";
@import "main.css";
@import "footer.css";
* {
    box-sizing: border-box;
}
html {
    background-color: #E5E5E5;
}
body {
    margin: 0;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
.White__box {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}
.col-3 {
    width: 25%;
}
